.bg-main {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-main {
    font-size: 2.5rem;
}
.breadcrumb li a {
    text-decoration: none;
    color: black;
}
.breadcrumb li a:hover {
    color: rgb(0, 0, 0);
    color: gray;
    

    
}

/* https://youtu.be/E-1kGPpK_XA?list=PLIan8aHxsPj3a7oLHb2a8pw8IHBq45WYu */
